.ProfilePage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 24px;
  padding-top: 36px;
  gap: 24px;

  border-radius: 4px;
  border: 1px solid var(--color-preset-border-color);

  min-height: 600px;
}
.ProfilePage_Title_Block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ProfilePage_Title {
  font-size: 24px;
  font-weight: bold;
}
.ProfilePage_Description {
  font-size: 14px;
}
