.ProfileLayout {
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 60px;
  display: flex;
  flex-direction: row;
}
.ProfileLayout_Sidebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;

  border-radius: 4px;
  border: 1px solid var(--color-preset-border-color);
  width: 300px;
  min-width: 300px;
}
.SidebarTab {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 16px;
  padding: 12px;

  border-bottom: 1px solid var(--color-preset-border-color);
}
.SidebarTab.selected {
  background-color: rgb(235, 235, 235);
}
.SidebarTab:hover {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(220, 220, 220);
}
