.SignInUpPage {
  position: relative;
}
.SignInUpPage_Thumbnail {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.AuthBox {
  position: absolute;
  top: 100px;
  right: 50px;

  display: flex;
  flex-direction: column;
  background-color: white;

  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 4px;

  gap: 16px;
}
.AuthBox > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.AuthBox_Title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.SocialLoginBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.SocialLoginBlock > div {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.AuthBox_ChangeState {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.Stripped_Off_Button {
  background-color: white;
  border: none;
}
.Stripped_Off_Button:hover {
  cursor: pointer;
}

.SMS_LoginModal {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 400px;
  height: 250px;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 15px;

  justify-content: center;
}
.SMS_LoginModal_Title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.SMS_Modal_Escape_Button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}
