.SignInUpPage {
  position: relative;
  overflow-x: hidden;
}
.SignInUpPage_Thumbnail {
  width: 1600px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.SignInBox {
  position: absolute;
  top: 50px;
  right: 50px;

  display: flex;
  flex-direction: column;
  background-color: white;

  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 4px;

  gap: 16px;
}
.SignInBox > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.SignInBox_Title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.SocialLoginBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.SocialLoginBlock > div {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.SignInBox_ChangeStateText {
  display: flex;
  flex-direction: row;
}
.SignInBox_ChangeState:hover {
  cursor: pointer;
}
