/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
/* Ctrl + / */
:root {
  --color-preset-gray: #333f48;
  --color-preset-gray-hover: #474c63;
  --color-preset-gray-pressed: #5b6077;

  --color-preset-red: #e52626;
  --color-preset-green: #66cc00;
  --fontWeight-preset-medium: 300;
  width: 100%;
}
* {
  font-family: Montserrat;
  box-sizing: border-box;
}
body {
  line-height: 13.8px;
  padding: 0px;
  margin: 0px;

  width: 100%;
  height: 100%;
  position: relative;
}
.modal-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);

  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-base {
  min-height: 100px;
  background-color: white;
  border-radius: 4px;
}
.input-standard-1 {
  border: 1px solid #bdc7d4;
  border-radius: 2px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.input-error {
  border: 1px solid red;
}
.input-standard-1:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(159, 169, 232, 0.4);
}
.icon-16x16 {
  width: 16px;
  height: 16px;
  font-size: large;
  color: var(--color-preset-gray);
}

.button-standard-1 {
  box-shadow: none;
  background-color: var(--color-preset-gray);
  padding: 14px;
  color: white;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  border: none;
  border-radius: 2px;
}
.error-text {
  color: red;
  line-height: 20px;
  margin-bottom: -12px;
  margin-top: -12px;
}
.button-standard-1:hover {
  cursor: pointer;
  background-color: var(--color-preset-gray-hover);
}
.button-standard-1:focus {
  background-color: var(--color-preset-gray-pressed);
}
.button-standard-1:disabled {
  opacity: 0.5;
}
.button-standard-2 {
  box-shadow: none;
  background-color: white;
  padding: 14px;
  color: var(--color-preset-gray);

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  border: 1px solid var(--color-preset-gray);
  border-radius: 2px;
}
.button-standard-2:hover {
  cursor: pointer;
  background-color: rgba(51, 63, 72, 0.1);
}
.link-standard-1 {
  font-size: 14px;
  font-weight: var(--fontWeight-preset-medium);
  color: blue;
}
.link-standard-1:hover {
  cursor: pointer;
  color: rgb(0, 0, 139);
}
.link-standard-1:focus {
  cursor: pointer;
  color: rgb(0, 0, 159);
}
.Escape_Button {
  background-color: white;
  border: none;
  color: var(--color-preset-gray);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Escape_Button:hover {
  cursor: pointer;
  color: red;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}
.otp-block {
  border: 2px solid #bdc7d4;
  border-radius: 2px;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.div-standard-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-with-icon-before {
  height: 48px;
  width: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  padding: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #bdc7d4;

  color: var(--color-preset-gray);
}
.input-with-icon-before > input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
.input-with-icon-before > input:focus {
  border: none;
}

.hover-icon {
  border-radius: 4px;
  padding: 2px;
  width: fit-content;
  height: fit-content;
}
.hover-icon:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}
