@import "tailwindcss";

* {
  font-family: Montserrat;
  box-sizing: border-box;
}
body {
  line-height: 13.8px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;

  width: 100%;
  height: 100%;
  position: relative;
}
